body{
    margin:2px;
    padding:0px;
    background-color:rgb(237, 237, 237);
}

.logo{
    height: 80px;
    width:80px;
    margin:8px;
    padding:0px;
    border-radius: 8px;
    display:inline;
}
.logo>img{
    height: 80px;
    width:80px;
    border-radius: 8px;
}
.login-box{
    /* border:solid 2px rgb(43, 43, 43); */
    background-color: #ffffff;
    border-radius:8px;
    width:380px;
    height:450px;
    margin-left:35%;
    margin-top:0px;
    padding:14px 20px;
    box-shadow: 15px 7px 5px rgb(145, 140, 140);
}
.login-box>h2{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 30px;
}
.login-box>h5{
    color:#77ff00;
    margin-left:40%;
    font-size: 22px;
}
#email,#password{
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #32ccff; /* Add a border for better visibility */
    border-radius: 6px;
    padding: 6px;
    width:300px;
}
input#email:focus,input#password:focus{
    background-color:rgb(255, 255, 255);
}
button{
    background-color: #99e125;
    color:#ffffff;
    padding:7px 9px;
    padding-top:5px;
    border-radius:6px;
    width:300px;
    border:none;
    margin-bottom: 0px;
}
button:hover{
    background-color:#ffffff ;
    color:#99e125;
    padding:7px 9px;
    padding-top:5px;
    border-radius: 6px;
    width:300px;
    border:2px solid #99e125;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color:inherit;
}
